@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        min-height: 100%;
    }

    body {
        min-height: 100vh;
    }

    .center {
        display: flex;
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }

    h1 {
        @apply text-4xl font-bold mb-10
    }

    h2 {
        @apply text-3xl font-bold mb-8
    }

    h3 {
        @apply text-2xl font-bold mb-6
    }

    h4 {
        @apply text-xl font-bold mb-4
    }

    h5 {
        @apply text-lg font-bold mb-2
    }
}
